$main: rgb(153, 0, 0);
$dark: rgb(10, 10, 10);
$light: rgb(240, 241, 225);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  background: $main;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: minmax(3em, auto);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: $light;
}
h1 {
  grid-column: 1/9;
  background: scale-color($color: $dark, $lightness: -20%, $alpha: -20%);
  margin: 0;
  width: 100%;
  text-align: center;
  line-height: 0.75em;
  padding: 1em;
  font-size: 2.5em;
}
.intro,
.search,
#poke-container {
  grid-column: 1/9;
  padding: 0em 2em;
  display: grid;
}

#poke-container{
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin: 1em 0em;
}
.pokemon {
  background-color: $light;
  color: $dark;
  border-radius: 1em;
  text-align: center;
}
.poke-name {
  font-size: 2em;
  font-weight: bolder;
  color: $main;
}
